body{
    filter: contrast(90%);
    fill-opacity: calc(90%);

    font-family: Arial,sans-serif;
    background: rgb(0, 0, 0, 0.8) url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/f562aaf4-5dbb-4603-a32b-6ef6c2230136/dh0w8qv-9d8ee6b2-b41a-4681-ab9b-8a227560dc75.jpg/v1/fill/w_1192,h_670,q_70,strp/the_netflix_login_background__canada__2024___by_logofeveryt_dh0w8qv-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzIwIiwicGF0aCI6Ii9mL2Y1NjJhYWY0LTVkYmItNDYwMy1hMzJiLTZlZjZjMjIzMDEzNi9kaDB3OHF2LTlkOGVlNmIyLWI0MWEtNDY4MS1hYjliLThhMjI3NTYwZGM3NS5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.FScrpAAFnKqBVKwe2syeiOww6mfH6avq-DRHZ_uFVNw);
    background-repeat: no-repeat;
    background-blend-mode: darken;
    background-size: cover;
    background-blend-mode: multiply;
}  
#heading{
    margin-left: 80px;
    margin-top: 20px;
    margin-right: 80px;
}  
#basic{
    text-align: center;
    color: azure;
    height: 400px;
    width: 600px;
    /*border: 2px solid white;*/
    margin: 0 auto;
    margin-top: 130px;    
}
#dropdown{
    float: right;
    margin-right: 40px;
    height: 35px;
    width: 90px;
    background-color: black;
    color: white;
    border-radius: 5px;
}
#sign_in{
    float: right;
    margin-right: 20px;
    height: 35px;
    width: 70px;
    background-color: red;
    border-radius: 5px;
    color: white;
}
#email{
   height: 50px;
   width: 320px; 
   background-color: black;
   color: white;
   border-width: 1px;
   border-radius: 5px;
   border-color: aliceblue;
   padding-left: 15px;
   
}
#start{
    height: 55px;
    width: 160px;
    background-color: red;
    color: white;
    border-radius: 5px;
    font-size: large;
    font-weight: bolder;
    border: none;
}

/* btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 20px;
} */
